
.navbar {
  background-color: rgb(137, 137, 68);
  color: #fff;
  padding: 10px 20px;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo container */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 80px;
  width: 100px;
  margin-right: 10px;
}

.company-name {
  font-size: 1.5em;
  font-weight: bold;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  border-radius: 12px
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  transition: color 0.3s;
}

/* Hover effect for links */
.nav-links a:hover {
  color: #ffcc00;
}

/* Active link styling */
.nav-links a.active-link {
  color: #ffcc00; 
  font-weight: bold;
  text-decoration: none; 
}


.menu-toggle {
  display: none; 
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 3px 0;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex; /* Show toggle button on small screens */
  }

  .nav-links {
    display: none; /* Hide navigation links by default */
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    border: 1px solid #444;
    border-radius: 12px
  }

  .nav-links.active {
    display: flex; /* Show navigation links when menu is active */
    z-index: 1000;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }
}



/* adding some css for the services dropdown menu button  */



/* Dropdown Container */
.dropdown {
  position: relative;
  
}

/* Dropdown Button */
.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
 
  top: 40px;
  left: 0;
  background: white;
  border-radius: 6px;
  width: 220px;
  padding: 10px 0;
  list-style: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 1000;
}

/* Dropdown menu items */ 
 .dropdown-menu li {
  padding: 10px 15px;
}

.dropdown-menu li:hover {
  background: #f0f0f0;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  display: block;
}
.dropdown-menu {
  position: absolute;
 
  background: white;
  z-index: 1000;
}


/* Mobile Fix */
@media (max-width: 768px) {
  .dropdown-menu {
    position: static;
    width: 100%;
    
    box-shadow: none;
  }
}



